In [6]:
from data import loader, exporter
from constant import *
import pandas as pd

In [7]:
fncl_tr_dtal = loader.to_concat_df('XW_ENTINFO_FNCL_TR_DTAL')
target = loader.to_concat_df('XW_ENTINFO_TARGET')

In [8]:
df_merged = pd.merge(target, fncl_tr_dtal, left_on=['CUST_NO', 'SRC'], right_on=['CUST_NO', 'SRC'], how='left')
df_merged.head(5)

,DATA_DAT,CUST_NO,FLAG,SRC,TR_DAT,TR_CD,CHANL_CD,ABS_INFO,CPT_TYP_CD,ARG_ACCT_BAL,ACTG_DIRET_CD,TRS_CSH_IND,CSH_EX_IND,RMB_TR_AMT,CPT_INTL_FE_CUST_IND,INT_BNK_TR_IND,SAME_NAM_IND,CPT_CUST_NO
0,20030728,158a8d99bec2a2b652a6de45a2b52ec9,0.0,train,20020601.0,c5ae6fd8f7f018c78fd004ed4ca5e9b8,2be0e6cf9dab3119ff0391c27dec73c2,NaN,89e3310a438292017fbbb0f2f799f948,11.83,1250d7cb654a81c7b9366dabf57fe62b,1.0,0.0,11.83,NaN,NaN,NaN,62f18d6b99ce5f3ef4980eafa3386735
1,20030728,158a8d99bec2a2b652a6de45a2b52ec9,0.0,train,20020601.0,c5ae6fd8f7f018c78fd004ed4ca5e9b8,2be0e6cf9dab3119ff0391c27dec73c2,NaN,89e3310a438292017fbbb0f2f799f948,0.00,16459755d990723240edb88e34a13fab,1.0,0.0,11.83,NaN,NaN,NaN,62f18d6b99ce5f3ef4980eafa3386735
2,20030728,158a8d99bec2a2b652a6de45a2b52ec9,0.0,train,20020507.0,2b9cb33a01cd5456653f0929ac0370f7,9b211b103ee15fecafea4a16f3ec62f1,0a46f8413f9ad0c1ee140e5064499621,89e3310a438292017fbbb0f2f799f948,83.74,16459755d990723240edb88e34a13fab,1.0,0.0,1.28,NaN,0.0,NaN,62f18d6b99ce5f3ef4980eafa3386735
3,20030728,158a8d99bec2a2b652a6de45a2b52ec9,0.0,train,20020718.0,4e2b7d44c5b7af6e54eb313f0aa0beb4,2be0e6cf9dab3119ff0391c27dec73c2,NaN,89e3310a438292017fbbb0f2f799f948,26.77,1250d7cb654a81c7b9366dabf57fe62b,1.0,0.0,3.96,NaN,0.0,NaN,62f18d6b99ce5f3ef4980eafa3386735
4,20030728,158a8d99bec2a2b652a6de45a2b52ec9,0.0,train,20020601.0,c5ae6fd8f7f018c78fd004ed4ca5e9b8,2be0e6cf9dab3119ff0391c27dec73c2,NaN,89e3310a438292017fbbb0f2f799f948,0.00,16459755d990723240edb88e34a13fab,1.0,0.0,7.83,NaN,NaN,NaN,62f18d6b99ce5f3ef4980eafa3386735

In [ ]:
# 统计空值情况
missing_info = df_merged.isnull().sum() / len(df_merged) * 100

# 统计各个特征的基本分布
distribution_info = df_merged.describe(include='all')

# 返回缺失值信息和分布信息
missing_info, distribution_info

In [40]:
comprehensive_mappings = {
    # 16459755d990723240edb88e34a13fab 支出
    # 1250d7cb654a81c7b9366dabf57fe62b 收入
    "16459755d990723240edb88e34a13fab": 0,
    "1250d7cb654a81c7b9366dabf57fe62b": 1
}

df_merged['ACTG_DIRET_CD'] = df_merged['ACTG_DIRET_CD'].replace(comprehensive_mappings)

In [45]:
# b4fac6abf818cfc6a0d5559ffd9c5405
df_merged[df_merged['CUST_NO'] == 'b4fac6abf818cfc6a0d5559ffd9c5405'][
    ['TR_DAT', 'RMB_TR_AMT', 'ARG_ACCT_BAL', 'TR_CD', 'ACTG_DIRET_CD']].sort_values(by=['TR_DAT'])

,TR_DAT,RMB_TR_AMT,ARG_ACCT_BAL,TR_CD,ACTG_DIRET_CD
319,20020515.0,14.65,16.75,e83de7a18e4ab325e0a2ee07f12d99bd,1250d7cb654a81c7b9366dabf57fe62b
342,20020518.0,9.58,9.58,c5ae6fd8f7f018c78fd004ed4ca5e9b8,1250d7cb654a81c7b9366dabf57fe62b
341,20020518.0,9.68,31.54,c5ae6fd8f7f018c78fd004ed4ca5e9b8,1250d7cb654a81c7b9366dabf57fe62b
340,20020518.0,9.58,15.03,c5ae6fd8f7f018c78fd004ed4ca5e9b8,1250d7cb654a81c7b9366dabf57fe62b
339,20020518.0,9.68,9.68,c5ae6fd8f7f018c78fd004ed4ca5e9b8,1250d7cb654a81c7b9366dabf57fe62b
338,20020518.0,6.86,31.13,c5ae6fd8f7f018c78fd004ed4ca5e9b8,1250d7cb654a81c7b9366dabf57fe62b
337,20020518.0,8.37,8.37,c5ae6fd8f7f018c78fd004ed4ca5e9b8,1250d7cb654a81c7b9366dabf57fe62b
336,20020518.0,9.58,0.00,c5ae6fd8f7f018c78fd004ed4ca5e9b8,16459755d990723240edb88e34a13fab
335,20020518.0,15.44,15.44,a2aa53b685a7183e814b142d26f4fb47,16459755d990723240edb88e34a13fab
333,20020518.0,15.44,10.07,a2aa53b685a7183e814b142d26f4fb47,16459755d990723240edb88e34a13fab
344,20020518.0,6.86,6.86,c5ae6fd8f7f018c78fd004ed4ca5e9b8,1250d7cb654a81c7b9366dabf57fe62b
331,20020518.0,6.86,15.49,c5ae6fd8f7f018c78fd004ed4ca5e9b8,1250d7cb654a81c7b9366dabf57fe62b
332,20020518.0,8.37,0.00,c5ae6fd8f7f018c78fd004ed4ca5e9b8,16459755d990723240edb88e34a13fab
329,20020518.0,15.44,32.03,a2aa53b685a7183e814b142d26f4fb47,1250d7cb654a81c7b9366dabf57fe62b
328,20020518.0,8.37,11.71,c5ae6fd8f7f018c78fd004ed4ca5e9b8,1250d7cb654a81c7b9366dabf57fe62b
326,20020518.0,9.58,31.24,c5ae6fd8f7f018c78fd004ed4ca5e9b8,1250d7cb654a81c7b9366dabf57fe62b
325,20020518.0,6.86,0.00,c5ae6fd8f7f018c78fd004ed4ca5e9b8,16459755d990723240edb88e34a13fab
324,20020518.0,9.68,0.00,c5ae6fd8f7f018c78fd004ed4ca5e9b8,16459755d990723240edb88e34a13fab
322,20020518.0,9.68,13.60,c5ae6fd8f7f018c78fd004ed4ca5e9b8,1250d7cb654a81c7b9366dabf57fe62b
330,20020518.0,8.37,31.84,c5ae6fd8f7f018c78fd004ed4ca5e9b8,1250d7cb654a81c7b9366dabf57fe62b
345,20020518.0,15.44,0.00,a2aa53b685a7183e814b142d26f4fb47,1250d7cb654a81c7b9366dabf57fe62b
334,20020614.0,16.13,19.93,e83de7a18e4ab325e0a2ee07f12d99bd,1250d7cb654a81c7b9366dabf57fe62b
327,20020617.0,15.27,16.33,a2aa53b685a7183e814b142d26f4fb47,16459755d990723240edb88e34a13fab
320,20020715.0,16.13,20.44,e83de7a18e4ab325e0a2ee07f12d99bd,1250d7cb654a81c7b9366dabf57fe62b
323,20020718.0,1.69,20.45,4e2b7d44c5b7af6e54eb313f0aa0beb4,1250d7cb654a81c7b9366dabf57fe62b
321,20020718.0,15.44,16.95,a2aa53b685a7183e814b142d26f4fb47,16459755d990723240edb88e34a13fab
343,20020718.0,1.69,7.30,4e2b7d44c5b7af6e54eb313f0aa0beb4,16459755d990723240edb88e34a13fab

In [56]:
filtered_df = df_merged[df_merged['ARG_ACCT_BAL'] < 0]

# 分别统计 FLAG 为 1 和 0 的不重复客户数量
flag_1_unique_customers = filtered_df[filtered_df['FLAG'] == 1]['CUST_NO'].nunique()
flag_0_unique_customers = filtered_df[filtered_df['FLAG'] == 0]['CUST_NO'].nunique()

# 打印结果
print(f"不重复客户数（FLAG=1）：{flag_1_unique_customers}")
print(f"不重复客户数（FLAG=0）：{flag_0_unique_customers}")

filtered_df

不重复客户数（FLAG=1）：25
不重复客户数（FLAG=0）：1073

,DATA_DAT,CUST_NO,FLAG,SRC,TR_DAT,TR_CD,CHANL_CD,ABS_INFO,CPT_TYP_CD,ARG_ACCT_BAL,ACTG_DIRET_CD,TRS_CSH_IND,CSH_EX_IND,RMB_TR_AMT,CPT_INTL_FE_CUST_IND,INT_BNK_TR_IND,SAME_NAM_IND,CPT_CUST_NO
1771,20030728,3ac4402dacc8cbb9a715d486992deb32,0.0,train,20020509.0,5633a1309e9cda84d92de6627b819161,2be0e6cf9dab3119ff0391c27dec73c2,9964a2db96e3fcf093ac29a5dc5e4db8,89e3310a438292017fbbb0f2f799f948,-27.20,16459755d990723240edb88e34a13fab,1.0,0.0,27.20,NaN,NaN,NaN,62f18d6b99ce5f3ef4980eafa3386735
1796,20030728,3ac4402dacc8cbb9a715d486992deb32,0.0,train,20020507.0,5633a1309e9cda84d92de6627b819161,2be0e6cf9dab3119ff0391c27dec73c2,229c8cabc61e14751bf9a298aa3ea0be,89e3310a438292017fbbb0f2f799f948,-74.37,16459755d990723240edb88e34a13fab,1.0,0.0,74.37,NaN,NaN,NaN,62f18d6b99ce5f3ef4980eafa3386735
2035,20030728,3ac4402dacc8cbb9a715d486992deb32,0.0,train,20020606.0,5633a1309e9cda84d92de6627b819161,2be0e6cf9dab3119ff0391c27dec73c2,4ee2d221fd0966463710c0965cb559a2,89e3310a438292017fbbb0f2f799f948,-73.90,16459755d990723240edb88e34a13fab,1.0,0.0,73.90,NaN,NaN,NaN,62f18d6b99ce5f3ef4980eafa3386735
2355,20030728,3ac4402dacc8cbb9a715d486992deb32,0.0,train,20020714.0,5633a1309e9cda84d92de6627b819161,2be0e6cf9dab3119ff0391c27dec73c2,ff55dbb0d34c47df06686205708f9e3f,89e3310a438292017fbbb0f2f799f948,-27.11,16459755d990723240edb88e34a13fab,1.0,0.0,27.11,NaN,NaN,NaN,62f18d6b99ce5f3ef4980eafa3386735
2519,20030728,3ac4402dacc8cbb9a715d486992deb32,0.0,train,20020613.0,5633a1309e9cda84d92de6627b819161,2be0e6cf9dab3119ff0391c27dec73c2,8c3d73733fdd1d013cfba2d9f21d9d0f,89e3310a438292017fbbb0f2f799f948,-27.20,16459755d990723240edb88e34a13fab,1.0,0.0,27.20,NaN,NaN,NaN,62f18d6b99ce5f3ef4980eafa3386735
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7764583,20030828,d6c738591d4a51002323a351995af235,NaN,test,20020607.0,5633a1309e9cda84d92de6627b819161,2be0e6cf9dab3119ff0391c27dec73c2,229c8cabc61e14751bf9a298aa3ea0be,89e3310a438292017fbbb0f2f799f948,-55.38,16459755d990723240edb88e34a13fab,1.0,0.0,55.38,NaN,NaN,NaN,62f18d6b99ce5f3ef4980eafa3386735
7764594,20030828,d6c738591d4a51002323a351995af235,NaN,test,20020806.0,5633a1309e9cda84d92de6627b819161,2be0e6cf9dab3119ff0391c27dec73c2,c5777cf9ad738b5d70cc15f9b3146001,89e3310a438292017fbbb0f2f799f948,-57.77,16459755d990723240edb88e34a13fab,1.0,0.0,57.77,NaN,NaN,NaN,62f18d6b99ce5f3ef4980eafa3386735
7764608,20030828,d6c738591d4a51002323a351995af235,NaN,test,20020707.0,5633a1309e9cda84d92de6627b819161,2be0e6cf9dab3119ff0391c27dec73c2,4ee2d221fd0966463710c0965cb559a2,89e3310a438292017fbbb0f2f799f948,-57.37,16459755d990723240edb88e34a13fab,1.0,0.0,57.37,NaN,NaN,NaN,62f18d6b99ce5f3ef4980eafa3386735
7774020,20030828,85f33cab87ad9ee764a7ee2a21e3c0c0,NaN,test,20020531.0,5633a1309e9cda84d92de6627b819161,2be0e6cf9dab3119ff0391c27dec73c2,7f2ad5b92c96bee89668b0f3498404a1,89e3310a438292017fbbb0f2f799f948,-96.61,16459755d990723240edb88e34a13fab,1.0,0.0,96.61,NaN,NaN,NaN,62f18d6b99ce5f3ef4980eafa3386735
7782006,20030828,2ebe353f7f8a3dcc1f24c88f6f48a93f,NaN,test,20020717.0,5633a1309e9cda84d92de6627b819161,2be0e6cf9dab3119ff0391c27dec73c2,2496802032b312f923682b62d015cc36,89e3310a438292017fbbb0f2f799f948,-57.48,16459755d990723240edb88e34a13fab,1.0,0.0,57.48,NaN,NaN,NaN,62f18d6b99ce5f3ef4980eafa3386735

In [20]:
def find_top_incomes(df, top_n=3):
    # 筛选出正数的收入记录
    df_income = df[df['ACTG_DIRET_CD'] == '1250d7cb654a81c7b9366dabf57fe62b'].copy()

    # 对每个企业进行分组，找出前几笔最大的收入
    df_income['rank'] = df_income.groupby('CUST_NO')['RMB_TR_AMT'].rank(method='first', ascending=False)
    df_top_incomes = df_income[df_income['rank'] <= top_n]

    return df_top_incomes

In [43]:
tr_cd_proportion = fncl_tr_dtal['TR_CD'].value_counts(normalize=True).reset_index()
tr_cd_proportion.columns = ['TR_CD', 'Proportion']

tr_cd_proportion

                                TR_CD    Proportion
0    6f5130b34a94a6a336a004a217478fd2  1.571979e-01
1    c5ae6fd8f7f018c78fd004ed4ca5e9b8  1.345606e-01
2    2b9cb33a01cd5456653f0929ac0370f7  1.252936e-01
3    7f73eb3c29fffaf4cbfc719d33cbe167  1.199933e-01
4    b66046c3d75cd5b855bbd084e8f229a6  9.177241e-02
..                                ...           ...
265  4daf40d3293b4d554631bcc2a396d18f  1.284887e-07
266  331abeaeb9f47f6475afd914f3ec173b  1.284887e-07
267  3e5722804348eb7b591fe912bf69f858  1.284887e-07
268  a87d526a48ce6560d57f0a902fdebb1e  1.284887e-07
269  3c6493cc9bcac10dd1ff4b9624d2414e  1.284887e-07

[270 rows x 2 columns]

In [22]:
# 统计 CHANL_CD 的比例
chanl_cd_proportion = fncl_tr_dtal['CHANL_CD'].value_counts(normalize=True).reset_index()
chanl_cd_proportion.columns = ['CHANL_CD', 'Proportion']

chanl_cd_proportion

                            CHANL_CD    Proportion
0   9b211b103ee15fecafea4a16f3ec62f1  4.086855e-01
1   2be0e6cf9dab3119ff0391c27dec73c2  2.775348e-01
2   e55527a3f55b5c508daee3783f232e4b  8.281482e-02
3   e8bdc6ed7071aee36e00dd268b5c4e4e  6.430371e-02
4   ba613c2a484789185e8be09b056a1d56  3.297804e-02
5   1dfb1bb6d2cd40a6e3d318f5382b3ccb  3.044501e-02
6   c7d6fc844548cf4d7f252b5066ecfa80  1.503999e-02
7   abd931dc726b2ce93bd6082cd198256c  1.478853e-02
8   80514c6a93bba87cbbeb34ee4247ae7a  1.241162e-02
9   0344a1c16cfcb952dffba70a37ab4da9  1.142958e-02
10  faa89aeaf28346d87540ab8034250c6c  1.111183e-02
11  d598974d899949c31c797a2a8cd02385  9.795978e-03
12  981da1b7d2ab967f1245d20c4ca16078  9.025174e-03
13  9765dfd56aeebc9cf331a11f479b6336  4.361163e-03
14  ea7c7e3c5bb1677f25ed725350db8bbb  4.215714e-03
15  3b9ca506cc2afb79cade9e6f920cb665  2.181096e-03
16  192aa8051dff0431ac901ba327654cf2  2.121348e-03
17  a08269ca06fe504c97455da2bcfcf07c  1.884544e-03
18  55c135066d677b567f25a706ce5b3cc5  1.626667e-03
19  7ad402bdee5eb9d4a967d71d6faf8562  1.495223e-03
20  588c8d057e56d80b870a166a56c39433  5.261612e-04
21  68b1cdc363f1f78028ad458454df6732  4.545930e-04
22  f103e17a485109b0857c83201a1552e5  3.898347e-04
23  7dcdd7724d3ac7a03ea565c65d8376e3  2.289669e-04
24  c1f965494f544c50e4d267cab6e923ec  2.621169e-05
25  3ceaf82c8ea586cbd796969c81576b83  2.556925e-05
26  e18a87d9ff811dbbb4798c7993b01691  2.042970e-05
27  9b9e2ea4b767c480f06e6c7d70da7a60  1.760295e-05
28  4a61baf6a7ac93c67834d9a2e51e577e  1.593260e-05
29  0b4b349d457244a9201bcf587b110f98  1.002212e-05
30  f026856b43729dd1175a2518388f3ebc  6.938389e-06
31  f54998193941b896606dbcc6545c8ef4  6.552923e-06
32  4a07315351e01a451e438f88ede89637  6.167457e-06
33  d0aecc8a02638aa3d7b776d5061b65e6  4.240127e-06
34  867cf780b58e28dda4c41e32207c2c23  3.854661e-06
35  abbeaac5f6792ff4247e29680a52980c  3.083729e-06
36  5e362525dcb94e33f550dc9df2d02f7d  2.441285e-06
37  c507bcd09741964ea922b6db00d32303  6.424435e-07
38  ec2e09c6245b0d7d61bffa1d405d26eb  2.569774e-07
39  d8d7ad6babc4ba94a23a115142f9fd52  1.284887e-07

In [23]:
df_top_incomes = find_top_incomes(fncl_tr_dtal, top_n=1)
df_top_incomes

,TR_DAT,CUST_NO,TR_CD,CHANL_CD,ABS_INFO,CPT_TYP_CD,ARG_ACCT_BAL,ACTG_DIRET_CD,TRS_CSH_IND,CSH_EX_IND,RMB_TR_AMT,CPT_INTL_FE_CUST_IND,INT_BNK_TR_IND,SAME_NAM_IND,CPT_CUST_NO,SRC,rank
156,20020517,f198fede4f5b302959003652a7cce785,75977aa2ad2bb13288058f4d695b1579,ba613c2a484789185e8be09b056a1d56,NaN,89e3310a438292017fbbb0f2f799f948,121.70,1250d7cb654a81c7b9366dabf57fe62b,1,0,112.00,1.0,0.0,1.0,NaN,train,1.0
193,20020717,75ae015b2c1ed43ca992bbfc5011a913,c7a3b3e8e2efa9b2405b295e45e089b7,e8bdc6ed7071aee36e00dd268b5c4e4e,aaf8e49e21f4bae12c54e4c32de67f45,95d423a88e97fd7197c280e86489cef5,65.41,1250d7cb654a81c7b9366dabf57fe62b,1,0,61.33,0.0,1.0,0.0,NaN,train,1.0
219,20020726,ee531d79825cf4c3b467b7132ac9adff,b66046c3d75cd5b855bbd084e8f229a6,faa89aeaf28346d87540ab8034250c6c,5fd420e824d1c9de91a64714bbee75bf,95d423a88e97fd7197c280e86489cef5,162.91,1250d7cb654a81c7b9366dabf57fe62b,1,0,161.27,1.0,1.0,0.0,NaN,train,1.0
616,20020505,e2013875a5e392b4b6c1d6cdd2caa5ef,2d6e62dc0e37d01dad18be9216357acd,ba613c2a484789185e8be09b056a1d56,NaN,89e3310a438292017fbbb0f2f799f948,113.65,1250d7cb654a81c7b9366dabf57fe62b,1,0,85.69,1.0,0.0,NaN,1b01400e6a902a2eb0b098a1d1d49a73,train,1.0
683,20020617,1a54b4698492c2798d316390bfe6a3fd,c7a3b3e8e2efa9b2405b295e45e089b7,e8bdc6ed7071aee36e00dd268b5c4e4e,NaN,95d423a88e97fd7197c280e86489cef5,41.12,1250d7cb654a81c7b9366dabf57fe62b,1,0,32.91,0.0,1.0,0.0,NaN,train,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
786909,20020729,3b0d19e8113e8b5732ab5416fda6ccba,b66046c3d75cd5b855bbd084e8f229a6,faa89aeaf28346d87540ab8034250c6c,046fd306749f0d53205d32d09431925c,95d423a88e97fd7197c280e86489cef5,140.15,1250d7cb654a81c7b9366dabf57fe62b,1,0,139.70,1.0,1.0,0.0,NaN,test,1.0
787272,20020810,9061d15d6b9f5dfe62c830a3a4022bab,e83de7a18e4ab325e0a2ee07f12d99bd,c7d6fc844548cf4d7f252b5066ecfa80,NaN,95d423a88e97fd7197c280e86489cef5,61.88,1250d7cb654a81c7b9366dabf57fe62b,1,0,56.98,1.0,0.0,0.0,494991a728aff8efeb44f93b4d0e4b0e,test,1.0
787725,20020813,6c2bd511cae824a6991b5a8c9fb22898,6b5116326f849233b32450fa4dcf0964,80514c6a93bba87cbbeb34ee4247ae7a,NaN,89e3310a438292017fbbb0f2f799f948,160.11,1250d7cb654a81c7b9366dabf57fe62b,1,0,155.70,1.0,0.0,1.0,NaN,test,1.0
787831,20020803,0123161c1418a7e1569909b26c26aa21,75977aa2ad2bb13288058f4d695b1579,ba613c2a484789185e8be09b056a1d56,NaN,89e3310a438292017fbbb0f2f799f948,92.60,1250d7cb654a81c7b9366dabf57fe62b,1,0,89.60,1.0,0.0,1.0,NaN,test,1.0
788046,20020722,4cbc6c77f90092820b9a9c84caea0f9f,b66046c3d75cd5b855bbd084e8f229a6,faa89aeaf28346d87540ab8034250c6c,60b1babdba511bb0aa66b9dffb1a13f3,95d423a88e97fd7197c280e86489cef5,129.01,1250d7cb654a81c7b9366dabf57fe62b,1,0,128.78,1.0,1.0,0.0,NaN,test,1.0

In [34]:
abs_info_proportion = fncl_tr_dtal['ABS_INFO'].value_counts(normalize=True).reset_index()
abs_info_proportion

                                    index      ABS_INFO
0        046fd306749f0d53205d32d09431925c  1.688124e-01
1        fb43798da8f3923e6421e4b1ebecd4cf  3.786313e-02
2        5fd420e824d1c9de91a64714bbee75bf  2.874756e-02
3        606b3b70961bcad74293507503f737be  2.469192e-02
4        5e166cd371bd3b40c3f4bb167d0616f4  2.013461e-02
...                                   ...           ...
1501177  6afa385cb4221cbc4ef8e433a497e7a7  1.919191e-07
1501178  c20141befa02c164c83eeefb12d431d8  1.919191e-07
1501179  a43242175833a03677badc7bcea26133  1.919191e-07
1501180  da85762a1809978ba5494e38f106febf  1.919191e-07
1501181  6e44425bf03b47c19b3a978e3f16518a  1.919191e-07

[1501182 rows x 2 columns]

 - 046fd306749f0d53205d32d09431925c 占比0.168812 这是md5('zhuanzhang')

In [36]:
tr_cd_proportion[tr_cd_proportion['TR_CD'] == '443e2cf42267dd5c07aeba9107c43829']

Empty DataFrame
Columns: [TR_CD, Proportion]
Index: []

In [1]:
# 使用 pivot_table 进行透视汇总
pivot_result = pd.pivot_table(
    df_merged,
    values=['RMB_TR_AMT', 'ARG_ACCT_BAL'],  # 观测值
    index=['CUST_NO'],  # 以 CUST_NO 为主维度
    columns=['ACTG_DIRET_CD', 'TRS_CSH_IND', 'CSH_EX_IND', 'SAME_NAM_IND', 'INT_BNK_TR_IND'],  # 其他维度展开成列
    aggfunc=['sum'],  # 汇总函数
    fill_value=0  # 填充缺失值
)

# 重置列名结构，方便展示
pivot_result.columns = ['_'.join([str(c) for c in col]).strip() for col in pivot_result.columns]

# 打印结果
print(pivot_result.reset_index())

NameError: name 'pd' is not defined

In [9]:
import pandas as pd
from itertools import combinations
from functools import reduce


def expand_dataframe(df, values, index, columns, aggfunc):
    """
    展开DataFrame的维度，接收values，index，columns，aggfunc四个参数，
    对columns进行组合，依次对这些组合进行pivot_table，最后把结果合并起来。

    参数：
    - df: 原始DataFrame
    - values: 要聚合的值的列名列表
    - index: 用作索引的列名列表
    - columns: 要进行组合的列名列表
    - aggfunc: 聚合函数列表

    返回：
    - 合并后的DataFrame，包含所有列组合的pivot_table结果
    """
    pivot_tables = []
    # 生成columns的所有组合，组合长度从1到len(columns)
    for r in range(1, len(columns) + 1):
        combos = list(combinations(columns, r))
        for cols in combos:
            # 创建pivot_table
            pivot = df.pivot_table(
                values=values,
                index=index,
                columns=list(cols),
                aggfunc=aggfunc,
                fill_value=0
            )
            # 处理列名，避免冲突
            pivot.columns = ['_'.join([str(i) for i in col]).strip() for col in pivot.columns.values]
            # 添加列组合的标识
            pivot = pivot.rename(columns=lambda x: f"{x}_{'_'.join(cols)}")
            # 重置索引，方便后续合并
            pivot = pivot.reset_index()
            pivot_tables.append(pivot)

    # 合并所有pivot_table的结果
    result = reduce(lambda left, right: pd.merge(left, right, on=index, how='outer'), pivot_tables)

    return result


# 展开！
result = expand_dataframe(
    df=df_merged,
    values=['RMB_TR_AMT', 'ARG_ACCT_BAL'],
    index=['CUST_NO'],
    columns=['ACTG_DIRET_CD', 'TRS_CSH_IND', 'CSH_EX_IND', 'INT_BNK_TR_IND', 'CPT_INTL_FE_CUST_IND', 'SAME_NAM_IND'],
    aggfunc=['sum']
)

In [10]:
exporter.export_df_to_preprocess('expend_1', result)