In [1]:
from data import loader, exporter
from constant import *
import pandas as pd

In [13]:
fncl_tr_dtal = loader.to_concat_df('XW_ENTINFO_FNCL_TR_DTAL')
target = loader.to_concat_df('XW_ENTINFO_TARGET')

In [14]:
df_merged = pd.merge(target, fncl_tr_dtal, left_on=['CUST_NO'], right_on=['CUST_NO'], how='left')
df_merged.head(5)

,DATA_DAT,CUST_NO,FLAG,SRC_x,TR_DAT,TR_CD,CHANL_CD,ABS_INFO,CPT_TYP_CD,ARG_ACCT_BAL,ACTG_DIRET_CD,TRS_CSH_IND,CSH_EX_IND,RMB_TR_AMT,CPT_INTL_FE_CUST_IND,INT_BNK_TR_IND,SAME_NAM_IND,CPT_CUST_NO,SRC_y
0,20030728,158a8d99bec2a2b652a6de45a2b52ec9,0.0,train,20020601.0,c5ae6fd8f7f018c78fd004ed4ca5e9b8,2be0e6cf9dab3119ff0391c27dec73c2,NaN,89e3310a438292017fbbb0f2f799f948,11.83,1250d7cb654a81c7b9366dabf57fe62b,1.0,0.0,11.83,NaN,NaN,NaN,62f18d6b99ce5f3ef4980eafa3386735,train
1,20030728,158a8d99bec2a2b652a6de45a2b52ec9,0.0,train,20020601.0,c5ae6fd8f7f018c78fd004ed4ca5e9b8,2be0e6cf9dab3119ff0391c27dec73c2,NaN,89e3310a438292017fbbb0f2f799f948,0.00,16459755d990723240edb88e34a13fab,1.0,0.0,11.83,NaN,NaN,NaN,62f18d6b99ce5f3ef4980eafa3386735,train
2,20030728,158a8d99bec2a2b652a6de45a2b52ec9,0.0,train,20020507.0,2b9cb33a01cd5456653f0929ac0370f7,9b211b103ee15fecafea4a16f3ec62f1,0a46f8413f9ad0c1ee140e5064499621,89e3310a438292017fbbb0f2f799f948,83.74,16459755d990723240edb88e34a13fab,1.0,0.0,1.28,NaN,0.0,NaN,62f18d6b99ce5f3ef4980eafa3386735,train
3,20030728,158a8d99bec2a2b652a6de45a2b52ec9,0.0,train,20020718.0,4e2b7d44c5b7af6e54eb313f0aa0beb4,2be0e6cf9dab3119ff0391c27dec73c2,NaN,89e3310a438292017fbbb0f2f799f948,26.77,1250d7cb654a81c7b9366dabf57fe62b,1.0,0.0,3.96,NaN,0.0,NaN,62f18d6b99ce5f3ef4980eafa3386735,train
4,20030728,158a8d99bec2a2b652a6de45a2b52ec9,0.0,train,20020601.0,c5ae6fd8f7f018c78fd004ed4ca5e9b8,2be0e6cf9dab3119ff0391c27dec73c2,NaN,89e3310a438292017fbbb0f2f799f948,0.00,16459755d990723240edb88e34a13fab,1.0,0.0,7.83,NaN,NaN,NaN,62f18d6b99ce5f3ef4980eafa3386735,train

In [19]:
df_merged[df_merged['CUST_NO'] == 'b4fac6abf818cfc6a0d5559ffd9c5405'][
    ['TR_DAT', 'RMB_TR_AMT', 'ARG_ACCT_BAL', 'ACTG_DIRET_CD']].sort_values(by=['TR_DAT'])

         TR_DAT  RMB_TR_AMT  ARG_ACCT_BAL                     ACTG_DIRET_CD
319  20020515.0       14.65         16.75  1250d7cb654a81c7b9366dabf57fe62b
342  20020518.0        9.58          9.58  1250d7cb654a81c7b9366dabf57fe62b
341  20020518.0        9.68         31.54  1250d7cb654a81c7b9366dabf57fe62b
340  20020518.0        9.58         15.03  1250d7cb654a81c7b9366dabf57fe62b
339  20020518.0        9.68          9.68  1250d7cb654a81c7b9366dabf57fe62b
338  20020518.0        6.86         31.13  1250d7cb654a81c7b9366dabf57fe62b
337  20020518.0        8.37          8.37  1250d7cb654a81c7b9366dabf57fe62b
336  20020518.0        9.58          0.00  16459755d990723240edb88e34a13fab
335  20020518.0       15.44         15.44  16459755d990723240edb88e34a13fab
333  20020518.0       15.44         10.07  16459755d990723240edb88e34a13fab
344  20020518.0        6.86          6.86  1250d7cb654a81c7b9366dabf57fe62b
331  20020518.0        6.86         15.49  1250d7cb654a81c7b9366dabf57fe62b
332  20020518.0        8.37          0.00  16459755d990723240edb88e34a13fab
329  20020518.0       15.44         32.03  1250d7cb654a81c7b9366dabf57fe62b
328  20020518.0        8.37         11.71  1250d7cb654a81c7b9366dabf57fe62b
326  20020518.0        9.58         31.24  1250d7cb654a81c7b9366dabf57fe62b
325  20020518.0        6.86          0.00  16459755d990723240edb88e34a13fab
324  20020518.0        9.68          0.00  16459755d990723240edb88e34a13fab
322  20020518.0        9.68         13.60  1250d7cb654a81c7b9366dabf57fe62b
330  20020518.0        8.37         31.84  1250d7cb654a81c7b9366dabf57fe62b
345  20020518.0       15.44          0.00  1250d7cb654a81c7b9366dabf57fe62b
334  20020614.0       16.13         19.93  1250d7cb654a81c7b9366dabf57fe62b
327  20020617.0       15.27         16.33  16459755d990723240edb88e34a13fab
320  20020715.0       16.13         20.44  1250d7cb654a81c7b9366dabf57fe62b
323  20020718.0        1.69         20.45  1250d7cb654a81c7b9366dabf57fe62b
321  20020718.0       15.44         16.95  16459755d990723240edb88e34a13fab
343  20020718.0        1.69          7.30  16459755d990723240edb88e34a13fab

In [9]:
def find_top_incomes(df, top_n=3):
    # 筛选出正数的收入记录
    df_income = df[df['RMB_TR_AMT'] < 0].copy()

    # 对每个企业进行分组，找出前几笔最大的收入
    df_income['rank'] = df_income.groupby('CUST_NO')['RMB_TR_AMT'].rank(method='first', ascending=False)
    df_top_incomes = df_income[df_income['rank'] <= top_n]

    return df_top_incomes

In [5]:
tr_cd_proportion = df_fncl_tr_dtal['TR_CD'].value_counts(normalize=True).reset_index()
tr_cd_proportion.columns = ['TR_CD', 'Proportion']

tr_cd_proportion

                                TR_CD    Proportion
0    6f5130b34a94a6a336a004a217478fd2  1.571979e-01
1    c5ae6fd8f7f018c78fd004ed4ca5e9b8  1.345606e-01
2    2b9cb33a01cd5456653f0929ac0370f7  1.252936e-01
3    7f73eb3c29fffaf4cbfc719d33cbe167  1.199933e-01
4    b66046c3d75cd5b855bbd084e8f229a6  9.177241e-02
..                                ...           ...
265  4daf40d3293b4d554631bcc2a396d18f  1.284887e-07
266  331abeaeb9f47f6475afd914f3ec173b  1.284887e-07
267  3e5722804348eb7b591fe912bf69f858  1.284887e-07
268  a87d526a48ce6560d57f0a902fdebb1e  1.284887e-07
269  3c6493cc9bcac10dd1ff4b9624d2414e  1.284887e-07

[270 rows x 2 columns]

In [6]:
# 统计 CHANL_CD 的比例
chanl_cd_proportion = df_fncl_tr_dtal['CHANL_CD'].value_counts(normalize=True).reset_index()
chanl_cd_proportion.columns = ['CHANL_CD', 'Proportion']

chanl_cd_proportion

                            CHANL_CD    Proportion
0   9b211b103ee15fecafea4a16f3ec62f1  4.086855e-01
1   2be0e6cf9dab3119ff0391c27dec73c2  2.775348e-01
2   e55527a3f55b5c508daee3783f232e4b  8.281482e-02
3   e8bdc6ed7071aee36e00dd268b5c4e4e  6.430371e-02
4   ba613c2a484789185e8be09b056a1d56  3.297804e-02
5   1dfb1bb6d2cd40a6e3d318f5382b3ccb  3.044501e-02
6   c7d6fc844548cf4d7f252b5066ecfa80  1.503999e-02
7   abd931dc726b2ce93bd6082cd198256c  1.478853e-02
8   80514c6a93bba87cbbeb34ee4247ae7a  1.241162e-02
9   0344a1c16cfcb952dffba70a37ab4da9  1.142958e-02
10  faa89aeaf28346d87540ab8034250c6c  1.111183e-02
11  d598974d899949c31c797a2a8cd02385  9.795978e-03
12  981da1b7d2ab967f1245d20c4ca16078  9.025174e-03
13  9765dfd56aeebc9cf331a11f479b6336  4.361163e-03
14  ea7c7e3c5bb1677f25ed725350db8bbb  4.215714e-03
15  3b9ca506cc2afb79cade9e6f920cb665  2.181096e-03
16  192aa8051dff0431ac901ba327654cf2  2.121348e-03
17  a08269ca06fe504c97455da2bcfcf07c  1.884544e-03
18  55c135066d677b567f25a706ce5b3cc5  1.626667e-03
19  7ad402bdee5eb9d4a967d71d6faf8562  1.495223e-03
20  588c8d057e56d80b870a166a56c39433  5.261612e-04
21  68b1cdc363f1f78028ad458454df6732  4.545930e-04
22  f103e17a485109b0857c83201a1552e5  3.898347e-04
23  7dcdd7724d3ac7a03ea565c65d8376e3  2.289669e-04
24  c1f965494f544c50e4d267cab6e923ec  2.621169e-05
25  3ceaf82c8ea586cbd796969c81576b83  2.556925e-05
26  e18a87d9ff811dbbb4798c7993b01691  2.042970e-05
27  9b9e2ea4b767c480f06e6c7d70da7a60  1.760295e-05
28  4a61baf6a7ac93c67834d9a2e51e577e  1.593260e-05
29  0b4b349d457244a9201bcf587b110f98  1.002212e-05
30  f026856b43729dd1175a2518388f3ebc  6.938389e-06
31  f54998193941b896606dbcc6545c8ef4  6.552923e-06
32  4a07315351e01a451e438f88ede89637  6.167457e-06
33  d0aecc8a02638aa3d7b776d5061b65e6  4.240127e-06
34  867cf780b58e28dda4c41e32207c2c23  3.854661e-06
35  abbeaac5f6792ff4247e29680a52980c  3.083729e-06
36  5e362525dcb94e33f550dc9df2d02f7d  2.441285e-06
37  c507bcd09741964ea922b6db00d32303  6.424435e-07
38  ec2e09c6245b0d7d61bffa1d405d26eb  2.569774e-07
39  d8d7ad6babc4ba94a23a115142f9fd52  1.284887e-07

In [10]:
df_top_incomes = find_top_incomes(df_fncl_tr_dtal, top_n=1)
df_top_incomes

Empty DataFrame
Columns: [TR_DAT, CUST_NO, TR_CD, CHANL_CD, ABS_INFO, CPT_TYP_CD, ARG_ACCT_BAL, ACTG_DIRET_CD, TRS_CSH_IND, CSH_EX_IND, RMB_TR_AMT, CPT_INTL_FE_CUST_IND, INT_BNK_TR_IND, SAME_NAM_IND, CPT_CUST_NO, SRC, rank]
Index: []

In [11]:
has_negative_values = (df_fncl_tr_dtal['RMB_TR_AMT'] < 0).any()
print(has_negative_values)

False